node_modules
.yalc
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-35-25.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-36-07.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-36-29.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-37-13.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-37-16.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-38-08.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-38-36.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-38-37.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-38-38.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-38-40.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-38-42.png
src/listen-to-screenshot/screenshot/screenshot_2024-08-03_12-38-43.png
